@import url("https://fonts.googleapis.com/css?family=Lora");
* {
  font-family: "Lora", serif;
  font-size: 1.04em;
}
span.help-block {
  font-size: 0.7em;
}
form label {
  font-weight: normal;
}
.success_msg {
  color: "#218823";
}
.form {
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  padding: 0px 10px 0px 10px;
  margin-bottom: 50px;
}
#image_display {
  height: 90px;
  width: 80px;
  float: right;
  margin-right: 10px;
}
.navbar {
  margin-bottom: 0;
}
.alert {
  margin: 5px 0;
}

/*------- Dashboard------------------*/

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #dddddd;
  padding-left: 8px;
}
input[readonly] {
  background: #dddddd;
}
